<html>
<body>
	<table>
		<thead>
			<th>First name</th>
			<th>Last name</th>
			<th>Employee ID</th>
			<th>Email ID</th>
			<th>Role</th>			
		</thead>
		
		<tbody>
			#foreach($user in $users)
				<tr>
				  <td>$user.firstName</td>
				  <td>$user.lastName</td>
				  <td>$user.employeeId</td>
				  <td>$user.emailId</td>
				  <td>$user.role</td>
				</tr>
			#end
		</tbody>

	</table>
	
	<div id="logout">
	                   <span><a href="/spring/j_spring_security_logout">Log Out</a></span>
    </div>
</body>
</html>